/* Import 'inter' font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Avoiding Browser Padding etc */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Overall HTML and Body formattings */
html {
    font-size: 62.5%; /* as 1rem = 16 px, we need 10 px, by setting size equal to 62.5%, we get only 10px. Setting this size, also helps in making site responsive. */
}

html, body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
}

/* 1. NAVIGATION SECTION

/* To arrange Navbar items in row */
header {
    position: sticky;
    top: 0;
    background: #fff;
}

/* Now selecting Nav and separating all the items to where we need them */
nav {
    padding: 1rem; /* read line 51, then do line 37, 38, 39 */
    max-width: 1200px;
    margin: 0 auto; /* so that it stays in center */
    display: flex;
    justify-content: space-between;
}

/* as list is showing in bullet form (with dots), to make it dot-less let's change its style */
ul {
    list-style: none;
}

/* Right now list is showing all items in different rows, let's bring all of them in 1 row */
nav ul {
    display: flex;
    gap: 2rem; /*as there wasn't any gap between list items*/
    /* now give padding in 'nav' of 1 rem, and some padding too, so that the items don't seem sticked to edges of screen. Go above in nav */
}

/* let's add hover effect on icons */
nav ul li {
    font-size: 1.8rem;

}

nav ul li:hover {
    border-bottom: rgb(255, 251,0) 2px solid;
}

/* to increase icons size in nav */
nav i {
    font-size: 2.5 rem;
}


/* 2. HERO SECTION */

/* Let's set dimensions of main tag */
main {
    max-width: 1200px;
    margin: 0 auto;
}

#hero {
    display: flex; /* to have image and text side by side. */
    justify-content: space-between; /* to put space between them */
    align-items: center; /* to have them in center */
}

/* now let's fix image and text */
.hero_content h1 {
    font-size: 6rem;
    line-height: 1.2;
}

/* fixing h4 tag */
.hero_content h4 {
    font-size: 2.5rem;
    font-weight: 300;
}

/* now let's make borders of image rounded. For that we will just put border-radius on image */
.hero_image img {
    border-radius: 5rem;
}


/* 3. LONG CARD  */

.h_card {
    display: flex;
    margin: 2rem 1rem; /* to create space between this card and content above, & 1rem margin from left right */
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25); /* gave shadows on all x, y and z axis */
    align-items: center; /* to bring all items in center */
    border: 1px solid #e2e2e2; /* will create outline of box in which card content and image are */
    border-radius: 0.5rem; /* but you will see it's not applied on edged of photo, for that, apply 'hidden' setting (see in next line) */
    overflow: hidden;
}


.card_content {
    padding: 2rem; /* it will create space on all sides of content (content won't be sticked to the edges) */
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

/* now let's fix Date & Read More button (which are in class 'status' */

.status {
    display: flex;
    justify-content: space-between; /* this will put date and read more on left and right most corners */
}

/*now choose button */
.read-btn {
    all:unset ; /*unsetting all styling in button (button will look like normal text now) */
    font-weight: 600; /*font will look bold now */
    border-bottom: 1px transparent;
}

.read-btn:hover {
    border-bottom: 1px solid #ccc; /* copy this line, in above .read-btn as well, but with 'transparent color' so that layout shift na ho */
}

/* Long card is done here */


/* 4. THREE CARDS (VERTICAL CARDS) */
.v_card {
    display: flex;
    flex-direction: column-reverse; /* because we want to rever the order (we want image on top then the post) */
    max-width: 320px; /* it will reduce size of card, otherwise it was taking whole screen */
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    overflow: hidden;
}


/* to bring all 3 cards in same row, let's choose cart_container */
.card_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* all cards are in same row, but not in center, use wrapper for that */
.card_wrapper {
    display: flex;
    justify-content: center;
}

/* but the image hasn't properly stretched according to dimensions, use v_card img, and fix it */
.v_card img {
    width: 100%;
    height: 100%;
}

/* 5. LONG BIG CARD */
/* It has same settings as before, nothing different */


/* 6. FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer ul {
    display: flex;
    gap: 2rem;
}

footer ul li {
    font-size: 1.8rem;
}




/* POST PAGE */

.post h1 {
    font-size: 3rem;
}

/* to bring whole image, use banner_image img */
.banner_image img {
    width: 100%;
}

/* Now let's put Author name and Date side by side */
.about_author {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Now we can see, there's no spacing over and under horizontal line, so select it */
.post hr {
    margin: 3rem 0; /* we gave margin of 3rem from up and down */
}

/* Now let's fix article */
article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}

/* To remove Line under 'Home' and 'Posts' anchor tags, undecorate anchor tag */

a {
    text-decoration: none;
    color: #000;
}