/* Importing Poppins Font & i created variables for different colors below */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

/* Disabling browser's CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%; /* we will make text responsive through it */
}

body,
html {
  font-family: "Poppins", sans-serif; /* we have applied poppins font to whole html */
  font-weight: 300; /* setting defaul weight to this */
  line-height: 1.4;
  scroll-behavior: smooth; /* so that when we click on let's say 'Projects' from navigation bar, it won't go there instantly, instead it will go smoothly there. */
  color: white;
}

body {
    font-size: 1.4rem;
}

/* 1. NAVIGATION */

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background: var(--lighting-color); /* this will set bg of navigation area to this color */
}

/* there's no space between the items, choose nav and do flex on it */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* because Home, Projects etc were going up, they weren't in center */
    padding: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

/* Now the home, projects etc are in list form, not in same row, let's fix it */

nav ul {
    display: flex;
    gap: 1rem;
}
/* to remove dot with home projects etc in navigation, do this */
ul {
    list-style: none;
}

/* now let's fix the logo 'Portfolio' */

.logo {
    font-size: 2rem;
    font-weight: 700;
}

/* to increase size of navigation items (home projects contact) */
 nav li {
    font-size: 1.8rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;
 }

 /* to give color when you hover over nav items */
 nav li:hover {
    border-bottom: 0.4rem var(--secondary-color) solid;
    transition: 0.3s ease-in-out;
 }

 /* ~ Navigation Part Is Done Here ~ */
/* -------------------------------------------------------------------------- */


/* 2. HERO */

/* let's set background color of hero section */

#hero {
    background: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color); /* to add a border line after Hero section */
}

/* to bring text in same line as image, use flex */

#hero .container {
    display: flex; /* this will put them side by side */
    justify-content: space-around;
    align-items: center; 
}

/* to give different formatting to hero section's text content.. */

.hero_content {
    display: grid;
    place-items: center; /* this will bring them in bit more center because of grid */
}

#hero h1 {
    font-size: 3rem;
    font-weight: bold; /* this will make 'hi i am john doe bold' */
}

/* now let's edit 'hi */
.hi_text {
    font-size: 6rem;
    font-weight: bold;
    color:var(--secondary-color); /* will make 'hi' yellow */
}

/* make 'John doe' big as well */
.name_text {
    font-size: 5rem;
}

/* now let's format 'frontend developer */
#hero h2 {
    font-size: 4rem;
    font-weight: bold; /* this will make 'hi i am john doe bold' */

    /* applying annimation with following lines */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* typing annimation's code, that will run fro width (of the text) 0 to width 100 (means whole text) */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}


/* to give blinking effect at the end of text */
@keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
}


/* Let's animate Image. (using www.animate.style) */
/* added 'Link' code in Head of Html file, and in class of image in hero section as well */


/* Hero section COMPLETED */
/* ------------------------------------------------------------------------- */


/* 3.PROJECTS */

#project {
    background: var(--darker-color);
}

/* now select 'PROJECTS' heading, and style it */
#project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
}

/* Now, let's style all the Projects */

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* makes grid responsive */
    gap: 2rem;
}

/* we can see the items in grid are far, let's fix that */
.grid_item {
    display: grid;
    place-items: center;
}

/* now let's give it CARD outlook */
.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem; /* will give rounded corners, but will only be seen when you set overflow hidden */
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

/* let's give card hover effect and zoom effect */
.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

/* to zoom in image when you hover over it */
.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

/* now let's make the content/title of card come from down to up when you hover over it */
.card_content {
    padding: 2rem;
    position: relative;
    top: -6.5rem; /* reducing height from top to this many */
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

/* but still, nothing much has changed, let's do this also */
.card:hover .card_content {
    background: white; /* this will make background of text white */
    color: var(--dark-color); /* making color of text dark */
    transform: translateY(0px); /* to make text come from down to up */
}

/* to align text in center */
.card_content h3 {
    text-align: center;
}

/* now we want the titles of the projects to be hidden, and only become visible if hovered upon */
/* to do this, transform lines were added above in .card_content and .card:hover .card_content */

/* Projects Section COMPLETED HERE */
/* ----------------------------------------------------------------------------- */


/* 4. CONTACT */

#contact {
    background: var(--dark-color); /* it will change background color of this section to this color */
}

/* now let's fix the heading, it will make it bold and place it in center  */
#contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

/* now let's put all social medias in container first */
#contact .container {
    height: 90vh; /* setting container's height (it will take 90% of the screen)*/
    display: flex;
    flex-direction: column; 
    gap: 4rem;
    justify-content: center;
}

/* now let's bring linkedin, twitter, and send mail in one line by using 'grid'. */
.top_contact {
    display: grid;
    margin: 0 auto; /* so that it comes in center */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 800px;
}

/* now let's fix these icons */
.contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* let's adjust size of the icons */
.contact_way i {
    font-size: 3rem;
}

/* also increase text's size */
.contact_way h3 {
    font-size: 3rem;
    font-weight: bold;
}

/* NOW let's do same for BOTTOM_CONTACT */

.bottom_contact {
    display: grid;
    margin: 0 auto; /* so that it comes in center */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 400px;
    gap: 2rem;
}


/* ----------------------------------------------------------------------------- */

/* 5. FOOTER */

footer {
    background: var(--darker-color);
    padding: 2rem;
    color: white; /* color of text */
    font-size: 1.6rem;
    text-align: center; /* to align the text in center */
}

/* ---------------------------------------------------------------------------- */

/* Making this site RESPONSIVE */

/* Media Query */

/* for tablets */
@media (max-width: 786px) {
    html {
      font-size: 40%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 70vh;
    }
  }
  /* for mobiles */
@media (max-width: 500px) {
    html {
      font-size: 32%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 50vh;
    }
  }